/*General Styles*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
	color: #212529;
	font-family:"Montserrat", sans-serif;
}

body {
	background: linear-gradient(180deg, #f8f8fa, #eff1f8);
}

ul,
nav {
	list-style: none;
}

a {
	text-decoration: none;
	color: #9297b4;
}

a:hover {
	color: #4558c3;
}

a.btn {
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #4558c3;
	opacity: 1;
	color: #fff;
}

.accent {
	color: #4558c3;
}

section {
	display: flex;
	flex-direction: column;
  padding: 35px 150px;
  max-width: 1240px;
  margin: 0 auto;
}

section.center {
	align-items: center;
}

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

hr {
	width: 50px;
	height: 2px;
	background-color: #3f51b5;
	border: 0;
	margin-bottom: 30px;
}

section h3.title {
    padding: 0 0 20px;
    font-size: 1.375rem;
    line-height: 1;
    letter-spacing: 1.44px;
}

section p {
	line-height: 2;
	margin-bottom: 30px;
	text-align: left;
	font-size: 0.888rem;
	letter-spacing: 1.4px;
	color: #3f456d;
}

@media (max-width: 800px) {
	section {
		padding: 50px 20px;
	}
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-align-left {
  align-items: flex-start;
}

.flex-align-right {
  align-items: flex-end;
}

/*Header Styles*/

header {
	position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 140px;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
    color: #9297b4;
    z-index: 1;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

header h2 {
	font-family: "Montserrat", sans-serif;
}

header nav {
	display: flex;
	margin-right: -15px;
}

header nav li {
	margin: 0 15px;
    font-size: .688rem;
    display: block;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 800px) {
	header {
		padding: 20px 50px;
		flex-direction: column;
	}

	header h2 {
		margin-bottom: 15px;
	}
}

/*Hero Styles*/

.hero {
	position: relative;
	justify-content: center;
  min-height: 100vh;
  max-width: 100%;
	color: #fff;
	align-items: flex-start;
	overflow: hidden;
	padding: 70px 300px;
}

.hero .background-image {
    background-size: cover;
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 42%;
    width: 927px;
    top: 4%;
}

.hero h1 {
	font: bold 60px "Playfair Display", sans-serif;
	margin-bottom: 15px;
	color: #212529;
}

.hero p {
    font-size: 1.125rem;
    line-height: 1.67;
	color: #8c93bd;
	padding: 0px;
	text-align: left;
	margin-bottom: 45px;
}

.hero a.btn {
	padding: 20px 46px;
}

.hero-content-area {
	opacity: 0;
	margin-top: 100px;
	animation: 1s slidefade forwards;
	color: #9297b4;
	max-width: 400px;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}

	.hero h1 {
		font-size: 48px;
	}

	.hero h3 {
		font-size: 24px;
	}

	.hero a.btn {
		padding: 15px 40px;
	}
}

/*About Section*/

section.about {
    border-radius: 8px;
    box-shadow: 0 72px 164px 0 rgba(45,54,95,0.05);
    position: relative;
    top: -206px;
    width: 100%;
    max-width: 940px;
    margin: 0 auto -106px;
    background-color: #fff;
    overflow: hidden;
}

/* Sklls Section */

.skills {
	max-width: 1240px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skills div {
  width: 50%;
}

.skills-list {
}

.skill {
  color: #fff;
  font-weight: bold;
  font-size: 34px;
  text-align: center;
  width: 125px;
  height: 95px;
  border-radius: 20px;
  margin: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.skill.small {
  width: 100px;
  height: 75px;
  font-size: 21px;
}

.skill.large {
  width: 165px;
  height: 115px;
  font-size: 39px;
}

.skill.js {
  background: linear-gradient(45deg, #e7a229, #fcd258);
  border-radius: 20px 20px 0 20px;
}


.skill.css {
  background: linear-gradient(45deg, #0c73b6, #61bbdd);
  border-radius: 20px 0px 20px 20px;
}

.skill.html {
  background: linear-gradient(45deg, #e45229, #ff8b5d);
  border-radius: 20px 0px 20px 20px;
}

.skill.node {
  background: linear-gradient(45deg,  #50af49, #8dcb10);
  border-radius: 20px 20px 20px 0px;
}

.skill.react {
  background: linear-gradient(45deg,  #00a7ff, #50d5fc);
  border-radius: 0px 20px 20px 20px;
}

.skill.mongo {
  background: linear-gradient(45deg,  #559f4a, #9dc18e);
  border-radius: 0px 20px 20px 20px;
}

.skills .grid li {
	height: 350px;
	padding: 20px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}

.skills .grid li.small {
	flex-basis: 30%;
}

.skills .grid li.large {
	flex-basis: 70%;
}

@media (max-width: 1100px) {
	.skills .grid li.small,
	.skills .grid li.large {
		flex-basis: 50%;
	}
}

@media (max-width: 800px) {
	.skills .grid li.small,
	.skills .grid li.large {
		flex-basis: 100%;
	}
}

/* Projects */

.project-container {
  border-radius: 15px;
  box-shadow: 0 70px 140px 0 rgba(130,136,171,0.2);
  background: #fff;
}

.project-container div {
  width: 50%;
}

.project-details {
  padding: 35px;
}

.project-details h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 2.75rem;
  letter-spacing: 1.8px;
  color: #525963;
}

.project-details p {
  margin-top: 28px;
  font-size: .688rem;
  line-height: 18px;
  letter-spacing: 1.38px;
  color: #8c93bd;
}

.project-details .btn {
  padding: 16px 32px;
  font-size: .688rem;
  line-height: 18px;
  letter-spacing: 1.54px;
}

.project-image {
  justify-content: center;
  background: linear-gradient(150deg, #6614f5, #b791fe);
}

.project-image img {

}

.btn.maps-app {
  background: linear-gradient(150deg, #6614f5, #b791fe);
}